*.d
*.aux
meta-theory/**/*.v#
meta-theory/**/*.glob
*.conf
meta-theory/**/*.vo
meta-theory/**/*.vos
meta-theory/**/*.vok
**/Makefile
*.pdf
*.dvi
*.fdb_latexmk
*.fls
*.log
*.gz
*.bbl
*.blg
*.out

*.tex
*.sty
!paper.pdf

.lia.cache
.DS_Store
